<div class="col-lg-8">
    <!-- Title -->
    <h1 class="mt-4"> <%= @post.title %> </h1>

    <p class="lead text-right">
        by  <%= @post.author %>   
    </p>
    <p class="text-right" > <%= @post.created_at.localtime.strftime("%Y-%m-%d %H:%M")%> </p>

    <hr>

    <%= @post.text %>

    <hr>

    <!-- Comments Form -->
    <div class="card my-4">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
        <form>
            <div class="form-group">
            <textarea class="form-control" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        </div>
    </div>

    <!-- Single Comment -->
    <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
        <div class="media-body">
            <h5 class="mt-0"> @Comment Author </h5>
            @comment Text
        </div>
    </div>
</div>