<!-- genre form -->
<nav class="navbar navbar-dark bg-dark justify-content-center ">
    <ul class="nav justify-content-center">
        <% $genres.each do |genre| %>
            <li class="nav-item">
                <%= link_to genre.name, genre_page_path(genre.id,1), :class => "nav-link text-white"%>
            </li>
        <%end%>
    </ul>
</nav>