<!-- logo form -->
<nav class="navbar navbar-dark bg-dark justify-content-center">
    <span class="navbar-brand mb-0 h1">
    <%= link_to "Ruby Site", genres_path, :class => "nav-link text-white"%>
    </span>
</nav>